body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Source Sans Pro", "Lucida Grande", sans-serif;
  background-color: transparent;
}

#titlebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  font-weight: 500;
  -webkit-app-region: drag;
  text-align: center;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 230px;
  background-color: rgb(44, 62, 80);
}

#versionFooter {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 230px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: rgba(255,255,255,.5);
  font-size: 12px;
}
